*{
    margin: 0%;
    padding: 0%;
}

/* HEADER */
.header{
    width: 100%;
    height: 100px;
    background-color: #1c1c1c;}
.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav_btns{
    display: none;
    height: 100px;
    }
.nav_buttons{ 
    font-size:18px;
    font-family:Arial;
    width:161px;
    height:100px;
    border-width:2px;
    color:#fff;
    border-color:rgb(49, 49, 49);
    background:rgb(49, 49, 49);
    transition: 0.5s;}
.nav_buttons:hover{
    border-color:rgb(0, 0, 0);
    background: #000000;  
    transition: 0.5s;
    border-width:2px;
    color:#fff;
    border-top-right-radius:15px;
    border-bottom-left-radius: 15px;}


/* MAIN */
.main{
    position: fixed;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    text-align: center;}
.login_div{
    border: 2px solid #000000;
    padding: 10px;
    width: 350px;

    margin: auto;
    width: 50%;

    display: flex;
    flex-direction: column;}


/* FOOTER */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #1c1c1c;}
.bottom_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;}