*{
    margin: 0%;
    padding: 0%;
    font-family: Tahoma;}

/* HEADER */
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #1c1c1c;
    color: #fff;}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;}
.nav_btns{
    display: none;}
.nav_buttons{ 
    font-size: 18px;
    font-family: Arial;
    width: 161px;
    height:50px; 
    border-width: 1px;
    color:#fff;
    border-color:rgb(49, 49, 49);
    background:rgb(49, 49, 49);
    transition: 0.5s;
    cursor: pointer;}
.nav_buttons:hover{
    border-color:rgb(0, 0, 0);
    background: #3c554f;  
    transition: 0.3s;
    color:#fff;}

/* MAIN */
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1c1c1c;
    width: 100%;
    height: 100vh;}
.login_div{
    background-color: #67AD9B;
    display: flex;
    border: 2px solid #000000;
    padding: 30px;
    width: 200px;
    flex-direction: column;}
.login_btn{
    border-width: 2px;
    color:#fff;
    border-color:rgb(49, 49, 49);
    background:rgb(49, 49, 49);
    transition: 0.5s;}
.login_btn:hover{
    border-color: #3c554f;
    background: #3c554f;  
    transition: 0.1s;
    border-width:2px;
    color:#fff;}
.login_title{
    font-size: 20px;
    padding-bottom: 5px;}


.default_main_div{
    transition: 3s;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    height: 70%;
    background-color: #8cada5;
    justify-content: space-around;
    align-items: center;}

/* .functions_div .adm_div .rcrd_div .db_div{
    gap: 40px;
} */

/* FOOTER */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #1c1c1c;}
.bottom_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;}